---
import LazyImage from "../components/LazyImage.jsx";
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1>Hello, World!</h1>
    <div class="spacer">
      <h2>Scroll down to load the image...</h2>
    </div>

    <LazyImage
      client:visible
      src="https://live.staticflickr.com/65535/54307402446_90d300468e_c.jpg"
      alt="A beautiful nature scene"
    />

    <div class="spacer">
      <h2>No more content below...</h2>
    </div>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
  .spacer {
        height: 100vh; /* Space before image appears */
        display: flex;
        align-items: center;
        justify-content: center;
  }
</style>